.book2020 {
	min-height: 100%;
}
.book2020 h2,
.book2020 h3 {
	text-align: center;
	font-size: 24px;
}
.book2020 p:not(:first-of-type) {
	padding-top: 1em;
}

.book2020 .dataTable,
.dataTable th,
.dataTable td {
	padding: 1rem;
	border: 1px solid orange;
}
.book2020 .dataTable b {
	color: darkgoldenrod;
}
